<h4>Create a new action to <b><%= @plant.name %></b></h4>

<%= form_for @action do |f| %>
  <%= f.label :action_name %> <%= f.text_field :action_name %><br>
  <%= f.fields_for :plants_actions, @action.plants_actions.build do |a| %>
      <%= a.label "select a date"  %> <%= a.date_field :action_date %>
    <% end  %>
    
  <br><br>
  <%= f.submit "Add"%><br><br>

  <% end %>

  <%= link_to "Go Back", root_path %>