<h4>Add more action to <b><%= @plant.name %></b></h4>

<%= form_for @plant do |f| %>
<%= f.fields_for :actions, @plant.plants_actions.build.build_action do |a| %>
      <%= a.label :action_name %> <%= a.text_field :action_name %><br>
      
      <%= a.fields_for :plants_actions, @plant.plants_actions.build do |apa| %>
      <%= apa.label "select a date"  %> <%= apa.date_field :action_date %>
      <% end  %>
      <br>
    <% end  %>
    
  <br><br>
  <%= f.submit "Add"%><br><br>

  <% end %>

  <%= link_to "Go Back", root_path %>