<%= form_for @plant do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Is it planted in your garden now?  <%= f.check_box :in_the_garden%><br><br>
  Is it adible?  <%= f.check_box :edible %><br><br>
  Is it an annual plant?  <%= f.check_box :annual %><br><br>
  Memo: <%= f.text_field :note %><br><br>

  <br><br>
  <h4>What do you need to do to the plant? When do they happen?</h4>
  <p>Please select actions need to be taken and set dates or create a new action</p>
  <br><br>
  
   <%= f.fields_for :plants_actions, @plant.plants_actions do |pa| %>
    <ul>
        <li><%= pa.label pa.object.action.action_name %>  <%= pa.check_box :action_id, {checked: false}, pa.object.action_id, ""%></li>
            <%= pa.label "select a date" %> <%= pa.date_field :month %>
    </ul>
  <% end  %>

      
    <br><br>
    Add more action : 
    
    <%= f.fields_for :actions, @plant.actions.build do |a| %>
      <%= a.label :action_name %> <%= a.text_field :action_name %><br>

      <%= a.fields_for :plants_actions, @plant.actions.last.plants_actions.build do |apa| %>
        <%= apa.label "select a date"  %> <%= apa.date_field :month %>
      <% end  %>
    <% end  %>

  <br><br>
  <%= f.submit %>

  <% end %>
<%# 
"plants_actions_attributes"=>{
  "0"=>{"action_id"=>"1", "month"=>"2019-04-04"}, 
  "1"=>{"action_id"=>"", "month"=>""}, 
  "2"=>{"action_id"=>"3", "month"=>"2019-04-30"}, 
  "3"=>{"action_id"=>"", "month"=>""}}, 
  "actions_attributes"=>{"0"=>{"action_name"=>"Fertilize", 
  "plants_actions_attributes"=>{"0"=>{"month"=>"2019-04-17"}}}}} %>

<%# 
 "plants_actions_attributes"=>{
   "0"=>{"action_id"=>"", "month"=>""}, 
   "1"=>{"action_id"=>"2", "month"=>"2019-04-04"}, 
   "2"=>{"action_id"=>"", "month"=>""}, 
   "3"=>{"action_id"=>"4", "month"=>"2019-04-30"}},
   "actions"=>{"action_name"=>"Fertilize",
 "plants_actions"=>{"month"=>"2019-04-11"} %>
<%# 
 "plants_actions_attributes"=>{
   "0"=>{"action_id"=>"", "month"=>""}, 
   "1"=>{"action_id"=>"2", "month"=>"2019-04-03"}, 
   "2"=>{"action_id"=>"", "month"=>""}, 
   "3"=>{"action_id"=>"4", "month"=>"2019-04-30"}}, 
   "actions_attributes"=>{"0"=>{"action_name"=>"Fertilize", 
   "plants_actions_attributes"=>{"0"=>{"month"=>"2019-04-18"}}}}} %>