<%= form_for @plant do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Is it planted in your garden now?  <%= f.check_box :in_the_garden%><br><br>
  Is it adible?  <%= f.check_box :edible %><br><br>
  Is it an annual plant?  <%= f.check_box :annual %><br><br>
  Memo: <%= f.text_field :note %><br><br>
  <%= f.hidden_field :user_id, :value => @user.id %>

  What do you need to do to the plant? When do they happen?
  <br><br><ul>
  <%=  f.collection_check_boxes "action_ids", Action.all, :id, :action_name do |a|%>
  <li>
    <%= a.label %>
    <%= a.check_box %>
  </li>
  <% end %><br><br>
  <%= f.fields_for :actions, @plant.actions.build do |actions_fields| %>
    Add more action: <%= actions_fields.text_field :action_name %>
  </ul><br><br>
  <%= f.submit %>

  <% end %>
<% end %><br><br>


    <%#= f.fields_for :actions, Action.all do |af| %>
      <%#= af.fields_for :plants_action, af.object.plants_action.build do |paf| %>
          <%#= paf.check_box "action_id", {}, af.object.id, "" %>
      <%# end %>