<%= form_for @plant do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Is it planted in your garden now?  <%= f.check_box :in_the_garden%><br><br>
  Is it adible?  <%= f.check_box :edible %><br><br>
  Is it an annual plant?  <%= f.check_box :annual %><br><br>
  Memo: <%= f.text_field :note %><br><br>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <br><br>
  <h4>What do you need to do to the plant? When do they happen?</h4>
  <br><br>
  

      <%= f.fields_for :actions, Action.all do |fa| %>
        <%= fa.check_box :id%><%= fa.label :action_name%>
          <%= fa.fields_for :plants_action, fa.object.plants_action.build do |fpa| %>
          <%= fpa.date_field :month %>
        <% end %> 
      <% end %>
     

  <%#= f.fields_for :actions, @plant.actions.build do |actions_fields| %>
    Add more action: <%#= actions_fields.text_field :action_name %>
  </ul><br><br>
  <%= f.submit %>

  <% end %>
  

