<h4>Edit</h4>
<br><br>
<%= form_for @plant do |f| %>
  Name: <%= f.text_field :name %><br><br>
  Is it planted in your garden now?  <%= f.check_box :in_the_garden%><br><br>
  Is it adible?  <%= f.check_box :edible %><br><br>
  Is it an annual plant?  <%= f.check_box :annual %><br><br>
  Memo: <%= f.text_field :note %><br><br>
<br><br>

Add more action : 
        
    <%= f.fields_for @plant.actions.build do |a| %>
      <%= a.text_field :action_name %><br>
      <%# plant[actions_attributes][0][action_name] %>
      <%# plant[:action][:action_name]  %>
      <%= a.fields_for @plant.plants_actions.build do |apa| %>
      <%= apa.label "select a date"  %> <%= apa.date_field :month %>
      <%# plant[actions_attributes][0][plants_actions_attributes][0][month] %>
      <%# plant[:action][:plants_action][:month] %>
      <% end  %>
      <br><br>
    <% end  %>
    
  <%= f.submit %>
  
<% end %>

<br><br>
<%= link_to "Go back", plant_path(@plant) %>
