<% if current_user.admin %>
  <h4><%= @plants_owner.email.split('@')[0].capitalize %> has <%= @plants_owner.plants.count %> plants</h4>
  <ul><% @plants.each do |plant| %>
    <li><%=  plant.name%></li>
  <% end %></ul>
 <% else %>
 <br>
  <h4>You have <%= current_user.plants.count %> plants</h4><br>
  <ul><% @plants.each do |plant| %>
    <li><%= link_to plant.name.capitalize, plant_path(plant) %></li>
  <% end %></ul><br><br>

  <%= link_to "Enter more plant", new_plant_path %><br><br><br>
  <%= link_to "View all the plants in the garden", plants_in_garden_path %><br><br>
  <%= link_to "View edible plants", plants_edible_path %><br><br>
  <%= link_to "View annual plants", plants_annual_path %><br><br>
<% end %><br>


<%= link_to "Go Back", users_path %>




