<h3><%= @plant.name.capitalize %></h3><br>
<h4>Is it planted in your garden? <%= in_the_garden? %></h4><br>
<h4>Is it edible? <%= edible? %></h4><br>
<h4>Is it an annual plant? <%= annual? %></h4><br>
<h4><%= memo %></h4><br>

<h4>Actions</h4>
<% if @plant.actions.count > 0 %>
  <ul>
  <% @plant.plants_actions.each do |pa| %>
      <li><%= pa.action.action_name.capitalize %>  Date: <%= pa.action_date %></li>
    <% end %>
  </ul>
<% end %>
<%=  link_to "Create another action", new_plant_action_path(@plant) %><br><br>
<%# The link above is made to meet the requirement. 
May delete after the assesment since a user can create new action in edit page %>
<br><br>
<%=  link_to "See all the plants", plants_path%><br><br>
<%=  link_to "Edit this plant", edit_plant_path %><br><br>
<%=  link_to "Delete this plant", @plant, method: :delete, data: { confirm: "Really?" } %>
